body{
  overflow-x: hidden;
}
.home{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #191c1f;
}
 .static-txt .auto-type{
  color: #f1de0e;
}
.intro{
    color: ffffff;
    font-size: 60px;
}
.navbar-nav {
    margin-left: 800px;
}
.wrapper{
    display: flex;
    flex-direction: column;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
  

  
  /* about */
  #about{
    background-color: #f1de0e;
    text-align: center;
    padding: 20px;
  }
  .about-container {
    display: grid;
    grid-template-columns: 30% 64%;
    margin-top: 2rem;
   
  }

  .about-img img {
    width: 45%;
    border-radius: 0.5rem;
    margin-bottom: 20px;
  }
  .about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
    margin-right: 20px;
    padding-right: 20px;
  }
  .information {
    margin: 1rem 0 1.4rem;
  }
  .information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  .information .info-box .bx {
    font-size: 22px;
  }
  .information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
  }
  .button1{
    background-color: rgb(255, 255, 255);
   border: none;
   border-radius: 50px;
  }

  /* skills */
  .skills{
    background: #191c1f;
    color: #fff;
    padding: 20px;
  }
  .heading{
    text-align: center;
  }
  .skills-container {
    margin-top: 4rem;
   
  }
  .bars-boxes{
    margin: 10px;
    margin-bottom: 25px ;
  }

  /* services */
   
  .services{
    background-color: #f1de0e;
    height: 350px;
    padding: 20px;
  }
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgba(22, 34, 34, 0.811);
    background-color:#191c1f;
    color: #fff;
  }
  .services-box:hover{
   background-color: white;
  }
  
  .services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
  }
  .services-box:hover h3{
    color: black;
  }
  .services-box:hover p{
    color: black;
  }
  .services-box .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
  }
  
  /* portfolio */
  .portfolio{
    background-color:#191c1f;
    padding: 20px;
    color: #fff;
  }
  .portfolio-content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    margin-top: 2rem;
  }
  .portfolio-img {
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .portfolio-img img {
    width: 98%;
    height: 211px;
  }
  .portfolio-img img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .gitbtns{
    background-color: #f1de0e;
    margin-top: 10px;
    text-align: center;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 50px;
  }
  .gitbtns:hover{
    background-color: rgb(128, 113, 13);
    color: black;
  }
  .gitbtns a{
    text-decoration: none;
    color: black;
  }
  .gitbtns a:hover{
    color: black;
    text-decoration: underline;
  }

  .contact-form {
    display: grid;
    place-items: center;
    margin-top: 2rem;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  form input,
  textarea {
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  form input::placeholder,
  textarea::placeholder {
    color: var(--text-color);
  }
  form textarea {
    resize: none;
    height: 200px;
  }
  .contact-button {
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
  }
 .submitbtn{
  width: 139px;
  height: 55px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  margin-left: 233px;

 }
 .submitbtn:hover{
  background-color: rgb(73, 72, 72);
 }
  .contact{
    background-color: #f1de0e;
  }
  .footer {
    display: grid;
    place-items: center;
    padding: 20px;
    background: #ebebeb;
    color: #000;
  }
  .footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
  .footer-social a i{
  
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .copyright {
    padding: 20px;
    background: black;
    text-align: center;
    color: #fff;
  }
  .copyright a{
    color: #22cf91;
  }
  .maingit{
    text-align: center;
    width: 200vh;
    margin-top: 20px;
  }
  .gitbtn{
    background-color: #f1de0e;
    margin-top: 10px;
    text-align: center;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 197px;
    height: 50px;
  }
  .gitbtn:hover{
    background-color: rgb(207, 196, 124);
    color: black;
  }
  .gitbtn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
  }
  .gitbtn a:hover{
    color: black;
    text-decoration: underline;
  }


  @media screen and (max-width:1023px) {
    .maingit{
      text-align: center;
      width: auto;
    }
  }
  @media (max-width: 991px) {
    .navbar-nav {
      margin-left: 80px;
  }
    section {
      padding: 50px 4%;
    }
  }
  @media (max-width: 881px) {
    :root {
      --big-font: 2.7rem;
      --medium-font: 1.4rem;
    }
  }
  @media (max-width: 768px) {
    :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
    }
    .intro{
      font-size: 50px;
    }
    .submitbtn{
      width: 139px;
      height: 55px;
      border: none;
      font-size: 18px;
      font-weight: bold;
      color: white;
      background-color: black;
      border-radius: 50px;
      margin: 10px;
      text-align: center;
      margin-left: 76px;
    
     }
    .about-container {
      grid-template-columns: 1fr;
    }
    .wrapper .static-txt{
      color: #fff;
      font-size: 50px;
      font-weight: 400;
      text-align: center;
    }
    .about-img {
      display: flex;
      justify-content: center;
    }
    .skills-container {
      grid-template-columns: 1fr;
    }
    .skills-img img {
      padding-left: 0;
    }
    .skills-img {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }
    
    .services-content {
      display: grid;
      justify-content: center;
      grid-template-columns: 50% 50%;
      }
      .services {
        background-color: #f1de0e;
        height: 383px;
        padding: 20px;
    }
      .services-box {
        padding: 2px;
        width: 352px;
        height: 132px;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 0.5rem;
        border-bottom: 2px solid var(--main-color);
        box-shadow: 0 2px 7px rgb(22 34 34 / 81%);
        background-color: #191c1f;
        color: #fff;
    }
    .portfolio-content {
      grid-template-columns: 100%;
      display: grid;
      gap: 15px;
      margin-top: 2rem;
  }
    .services-box:hover{background-color: white;
        color: #000;}
      .wrapper .static-txt {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
   
    .contact-form form{
      width: 300px;
    }
    .contact-button{
      margin-left: 25%;
    }
  }
  @media screen and (max-width:500px){
    .intro{
      font-size: 29px;
    }

    .wrapper .static-txt{
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
    }
    



    .services-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    }
    .services {
      background-color: #f1de0e;
      height: 383px;
      padding: 20px;
  }
    .services-box {
      padding: 2px;
      width: 184px;
      height: 132px;
      font-size: 11px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      border-bottom: 2px solid var(--main-color);
      box-shadow: 0 2px 7px rgb(22 34 34 / 81%);
      background-color: #191c1f;
      color: #fff;
  }
  .portfolio-content {
    grid-template-columns: 100%;
    display: grid;
    gap: 15px;
    margin-top: 2rem;
}
  .services-box:hover{background-color: white;
      color: #000;}
    .wrapper .static-txt {
      color: #fff;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
  }
  
  }
  @media (max-width: 340px) {
    .information .info-box span {
      font-size: 1rem;
    }
    .portfolio-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .contact-form form{
      width: 300px;
    }
    .contact-button{
      margin-left: 25%;
    }
  }

